In [1]:
import pandas as pd
import numpy as np

In [24]:
genre = pd.read_csv("regrouped_genre_list.csv")
genre.head()

,Adventure,Fantasy,Drama,Action,Science Fiction,RomCom,ThrHorMisCri,FamAni
0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0

In [26]:
nrow = genre.shape[0]
ncol = genre.shape[1]
names = genre.columns.values

labels = []

for i in range(nrow):
    row_labels = []
    for j in range(ncol):
        if genre.iloc[i,j] == 1:
            row_labels.append(genre.columns.values[j])
                              
    labels.append(row_labels)

In [28]:
genre["Labels"] = labels
genre.head(10)

,Adventure,Fantasy,Drama,Action,Science Fiction,RomCom,ThrHorMisCri,FamAni,Labels
0,0,0,0,0,0,0,0,0,[]
1,0,0,1,0,0,0,0,0,[Drama]
2,0,0,0,0,0,0,0,0,[]
3,0,0,0,0,0,0,0,0,[]
4,0,0,0,0,0,0,0,0,[]
5,0,0,0,0,0,0,0,0,[]
6,0,1,0,1,0,0,1,0,"[Fantasy, Action, ThrHorMisCri]"
7,0,1,0,0,0,0,0,0,[Fantasy]
8,1,0,0,1,0,0,0,1,"[Adventure, Action, FamAni]"
9,0,0,0,1,0,1,0,1,"[Action, RomCom, FamAni]"

In [32]:
genre.to_csv("regrouped_genres_withlabels.csv")

In [34]:
df  = pd.read_csv("regrouped_genres_withlabels.csv").head()

In [37]:
str(df["Labels"].values)

'[\'[]\' "[\'Drama\']" \'[]\' \'[]\' \'[]\']'